  <app-adhead></app-adhead>

  
<section id="cta-1">
	<div class="container">
		<div class="bor">
			<div class="dark">
				
				<div class="wow fadeInLeft delay-10s">
					
						<a href="">
							<img style="border-radius: 50%" src="../assets/img/darknet.jpg" width="150" height="150">
              <span class="dnet">Darknet</span>
						</a>						
					</div>
				</div>
				

<!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-6">
              
                <!-- Card body -->
                <div class="wow fadeInLeft delay-10s">
                  <div class="row">
                    <div class="col">
                     <a class="sm" href="">
							<img style="border-radius: 50%" src="../assets/img/social.jpg" width="150" height="150">
						
                      <span class="some">SocialMedia</span>
                  </a>
                    </div>
                    
                  </div>
              </div>
              
                          
            </div>
            <div class="col-xl-3 col-md-6">
             
                <!-- Card body -->
                <div class="wi">
                  <div class="row">
                    <div class="col">
                      
                      <span >Wings</span>
                    </div>
                    <div class="col-auto">
                      
                    </div>
                  </div>
                  
                </div>
             
            </div>
      
            <div class="col-xl-3 col-md-6">
              
                <!-- Card body -->
                <div class="wow fadeInRight delay-10s">
                  <div class="row">
                    <div class="col">
                      <a class="dw" href="">
							<img style="border-radius: 50%" src="../assets/img/hack.jpg" width="150" height="150">
						
                      <span class="hack">Hacking</span>
                  </a>
                    </div>
                   
                  </div>
                  
             </div>
             
            </div>
          </div>

				<div class="ran">
			<div class="wow fadeInLeft delay-10s">
					
						<a  href="">
							<img style="border-radius: 50%" src="../assets/img/ransome.png" width="150" height="150">Ransomware
						</a>						
					</div>
				</div>
			</div>
		</div>
	
</section>

  
