<header class="main-header" id="header">
	<div class="bg-color">
		<nav class="nav navbar-default navbar-fixed-top">
			<div class="container">
			         
                <div class="row">
                   
                    <div class="col">
                        
                   <ul class="nav navbar-nav">
                    <h2 class="ci">CYBERDOME</h2>
                        
                    </ul>
                    
                         
                </div>
            
      
    
    
             
                
             
                 
               
                    <ul class="nav navbar-nav">
                        <li class="h active"><a href="#header">Home</a></li>
                    </ul>
               
              
            
               
       
                 
                <div class="r">
                    <ul class="nav navbar-nav">


                        <li><a href="/register">Register</a></li>

                    </ul>

              </div>
             

    

                  
                <div class="ab">
                    <ul class="nav navbar-nav">


                        <li><a [routerLink]="['/home']" fragment="portfolio" (click)="onAnchorClick()">About</a></li>

                    </ul>

               </div>
           
        
    

                  
                <div class="c">
                    <ul class="nav navbar-nav">


                        <li><a [routerLink]="['/home']" fragment="portfolio" (click)="onAnchorClick()">Contact</a></li>

                    </ul>
                </div>
              
            
          </div> 
			</div>
		</nav>

		 <div class="container text-center">
                <div class="wrapper wow fadeInUp delay-05s" >
                    <h2 class="top-title">KERALA POLICE</h2>
                    <h3 class="title">CYBERDOME</h3>
                   
                    <form ACTION="/adhead">
                    <button class="btn-submit ">!!LOGIN!!</button></form><form ACTION="/usrheader"> <button class="btn-submit">REGISTER </button> </form>
                </div>
            </div>
        </div>
    </header>
	
	 <section id="cta-1">
        <div class="container">
            <div class="row">
                <div class="cta-info text-center">
                    <h3><span class="dec-tec"></span>Private-Public Partnership for Cyber Security<span class="dec-tec"></span> </h3>
                </div>
            </div>
        </div>
    </section>
    <!---->
    <!---->
    <section id="feature" class="section-padding">
        <div class="container">
            
                <div class=" col-xl-3">
                <div class=" wow fadeInLeft delay-05s">
                    <div class="section-title">
                        <h2 class="head-title">About Us</h2>
                        <hr class="botm-line">
                        <p class="sec-para">We keep on building expertise in cyber security and transferring technologies, enforcing policies, offering services and building products to create a secure ecosystem for the technology tailored society</p>
                    </div>
                </div>
            
                 </div>
        <div class="col-xl-9 ">
        <div class="row ">
                
                    <div class="col-md-6 wow fadeInRight delay-02s">
                        <div class="icon">
                         
					       <i class="fa fa-hdd-o"></i> 
                        </div>
                        <div class="icon-text">
                            <h3 class="txt-tl">Research & Development</h3>
                            <p style="text-align:justify">Cyberdome is aimes to play a major role in the area of cyber security as well as cyber threat resilience research by collaborating with academic partners. Technological advancement for Police, to increase the effectiveness of the policing, is another prime objective of the Centre. </p>
                        </div>
                    </div>
                
            
            
                
                    <div class="col-md-6 wow fadeInRight delay-02s">
                        <div class="icon">
                            <i class="fa fa-server"></i>
                        </div>
                        <div class="icon-text">
                            <h3 class="txt-tl">Cyber Security</h3>
                            <p style="text-align:justify">Primary focus area of Cyberdome is cyber security as the protection of the departmental systems, networks and data in cyberspace. Cyberdome is to provide continuous attention that is required to protect sensitive government and personal digital assets to safeguard national security. </p>
                        </div>
                    </div>
                
                    <div class="col-md-6 wow fadeInRight delay-04s">
                        <div class="icon">
                            <i class="fa fa-hdd-o"></i>
                        </div>
                        <div class="icon-text">
                            <h3 class="txt-tl">Cyber Forensics</h3>
                            <p style="text-align:justify">Cyberdome is a setup with a cyber forensic division to provide technical support for the investigation teams dealing with cyber crimes which involve scientific processes of identification, seizure, acquisition, authentication, analysis, documentation and preservation of digital evidence. </p>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInRight delay-04s">
                        <div class="icon">
                            <i class="fa fa-database"></i> 
                        </div>
                        <div class="icon-text">
                            <h3 class="txt-tl">Incident Response</h3>
                            <p style="text-align:justify">Cyberdome is engaged with incident response activities such as identifying the perpetrators of attack, assessment of damage and taking adequate steps to minimize the loss by using tools, techniques and resources at our disposal. Objective is to detect and react to the computer security incidents. </p>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInRight delay-06s">
                        <div class="icon">
                            <i  class="fa fa-user-secret"></i>
                        </div>
                        <div class="icon-text">
                            <h3 class="txt-t2">Cyber Intelligence</h3>
                            <p style="text-align:justify">Cyberdome has a key role in providing insights for cyber intelligence by tracking and analyzing the activities of the cyber world.Social media analytics, anti-piracy measures on the internet,  monitoring of online sex rackets, preventing child pornography, and countering cyber terror activities are the focus areas. </p>
                         
					   </div>
                    </div>
                    <div class="col-md-6 wow fadeInRight delay-06s">
                        <div class="icon">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="icon-text">
                            <h3 class="txt-tl">Training & Awareness Creation</h3>
                            <p style="text-align:justify">Cyberdome holds the responsibility of imparting awareness to the police personnel in the latest developments and trends of the cyber world. Cyberdome is also designed to engage and educate the public through events and initiatives with the goal of raising awareness about Cyber security. </p>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </section>
    <!---->
   
    <!---->
    <!---->
    <section class="section-padding wow fadeInUp delay-02s" id="portfolio" style="width:1900px; margin:0 auto;">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="section-title">
					     <h2 class="head-title"><FONT COLOR="orange">LOGIN</FONT></h2>
                       
                        <hr class="botm-line">
                        <p class="sec-para"> Explore By Logging</p>
                    </div>
                </div>
               						 <div class="col-md-12 col-sm-12">
                    <div class="col-md-4 col-sm-6" style="padding-left:0px;">
                    	<div class="form-group">
                                <label for="subject" style="color:white;">Username</label>
                                <input type="text" class="form-control" name="t1" required placeholder="username" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation">
                                	
                                </div>
                              </div>
							  <div class="form-group">
                                <label for="email" style="color:white;">Password</label>
                                <input type="text" class="form-control" name="t2" required=required placeholder="password"  />
                                <div class="validation">
                                	
                                </div>
                              </div>
							  <button type="submit" class="btn btn-submit">LOGIN</button>
							 
						
			
                        </div>
                    </div>
                    
                    </div>
                </div>
            
    </section>
    <!---->
    <!---->
    <section class="section-padding wow fadeInUp delay-05s" id="contact">
        <div class="container">
            <div class="row white">
                <div class="col-md-8 col-sm-12">
                    <div class="section-title">
                        <h2 class="head-title black">Contact Us</h2>
                        <hr class="botm-line">
                        <p class="sec-para black"></p>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                     <div class="col-md-12">
                        <div class="contact-icon-container hidden-md hidden-sm hidden-xs">
                            <span aria-hidden="true" class="fa fa-envelope-o"></span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" style="padding-left:0px;">
                        <h3 class="cont-title">Email Us</h3>
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <div class="contact-info">
                            <form action="" method="post" role="form" class="contactForm">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
                                </div>
                                
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
                                </div>
                                
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                </div>
                                <button type="submit" class="btn btn-send">Send</button>
                            </form>
                        </div>
                        
                    </div>
                   
                    <div class="col-md-4 col-sm-6">
                        <h3 class="cont-title">Visit Us</h3>
                        <div class="location-info">
                            <p class="white"><span aria-hidden="true" class="fa fa-map-marker"></span>Thejaswini Annexe, Technopark Campus</p>
                        
                            <p class="white"><span aria-hidden="true" class="fa fa-envelope"></span>Email: <a href="" class="link-dec">cyberdome.pol@kerala.gov.in</a></p>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>